.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  padding: 20px;
  background-color: #663399;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navButtons {
  display: flex;
}

.navButton {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #668DFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navButton:hover {
  background-color: #005bb5;
}

.main {
  display: flex;
  flex-grow: 1;
  padding: 40px;
  justify-content: space-between;
}

.imageContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage {
  border-radius: 10px;
}

.content {
  width: 50%;
  padding-left: 40px;
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: #f1f1f1;
  color: #000000;
}
